#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp SEMICOLON  &ht C_MUTE COMMA  &ht C_VOLUME_DOWN PERIOD  &ht C_VOLUME_UP P   &ht PRINTSCREEN Y    &kp F                     &kp G               &kp C             &kp R  &kp L
&kp A          &kp O             &ht LEFT_SHIFT E          &ht LEFT_CONTROL U  &ht LEFT_ALT I       &ht LEFT_ALT D            &ht LEFT_CONTROL H  &ht LEFT_SHIFT T  &kp N  &kp S
&kp SQT        &kp Q             &kp J                     &kp K               &kp X                &kp B                     &kp M               &kp W             &kp V  &kp Z
                                                           &ht LEFT TAB        &lt 1 ENTER          &ht ESCAPE LC(BACKSPACE)  &ht RIGHT SPACE
            >;
        };

        right_layer {
            bindings = <
&kp DOLLAR       &kp AMPERSAND  &ht RIGHT_BRACE LEFT_BRACE  &ht RIGHT_BRACKET LEFT_BRACKET  &ht RIGHT_PARENTHESIS LEFT_PARENTHESIS    &kp EQUAL     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&kp EXCLAMATION  &kp HASH       &kp TILDE                   &kp SLASH                       &ht BACKSLASH PIPE                        &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp UNDERSCORE
&kp PERCENT      &kp GRAVE      &kp CARET                   &kp AT_SIGN                     &kp QUESTION                              &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
                                                            &trans                          &trans                                    &kp UP_ARROW  &kp DOWN
            >;
        };
    };
};
