#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        control {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <30 31>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp SEMICOLON  &kp COMMA  &kp PERIOD  &kp P      &kp Y    &kp F                 &kp G            &kp C  &kp R  &kp L
&kp A          &kp O      &kp E       &kp U      &kp I    &kp D                 &kp H            &kp T  &kp N  &kp S
&kp SQT        &kp Q      &kp J       &kp K      &kp X    &kp B                 &kp M            &kp W  &kp V  &kp Z
                                      &lt 2 TAB  &to 1    &ht ESCAPE BACKSPACE  &ht ENTER SPACE
            >;
        };

        right_layer {
            bindings = <
&kp DOLLAR       &kp AMPERSAND  &ht RIGHT_BRACE LEFT_BRACE  &ht RIGHT_BRACKET LEFT_BRACKET  &ht RIGHT_PARENTHESIS LEFT_PARENTHESIS    &kp EQUAL     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&kp EXCLAMATION  &kp HASH       &kp TILDE                   &kp SLASH                       &ht BACKSLASH PIPE                        &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp UNDERSCORE
&kp PERCENT      &kp GRAVE      &kp CARET                   &kp AT_SIGN                     &kp QUESTION                              &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
                                                            &trans                          &to 0                                     &trans        &trans
            >;
        };

        left_layer {
            bindings = <
&kp PRINTSCREEN  &kp C_VOLUME_DOWN  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &ht LA(F1) F1  &ht LA(F2) F2   &ht LA(F3) F3   &ht LA(F4) F4  &ht LA(F5) F5
&trans           &trans             &trans             &trans           &trans        &kp LA(TAB)    &ht LA(H) LEFT  &ht LA(J) DOWN  &ht LA(K) UP   &ht LA(L) RIGHT
&trans           &trans             &trans             &trans           &trans        &kp LA(SPACE)  &kp LA(ENTER)   &kp LG(ENTER)   &kp LA(S)      &kp LA(BACKSPACE)
                                                       &trans           &trans        &trans         &trans
            >;
        };
    };
};
