#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp SEMICOLON  &kp COMMA  &kp PERIOD  &kp P      &kp Y                 &kp F                 &kp G       &kp C  &kp R  &kp L
&kp A          &kp O      &kp E       &kp U      &kp I                 &kp D                 &kp H       &kp T  &kp N  &kp S
&kp SQT        &kp Q      &kp J       &kp K      &kp X                 &kp B                 &kp M       &kp W  &kp V  &kp Z
                                      &lt 2 TAB  &ht LEFT_SHIFT RET    &ht LEFT_SHIFT SPACE  &lt 1 BSPC
            >;
        };

        right_layer {
            bindings = <
&kp DOLLAR       &kp AMPERSAND  &ht RIGHT_BRACE LEFT_BRACE  &ht RIGHT_BRACKET LEFT_BRACKET  &ht RIGHT_PARENTHESIS LEFT_PARENTHESIS    &kp EQUAL        &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS
&kp EXCLAMATION  &kp HASH       &kp TILDE                   &kp COLON                       &ht BACKSLASH SLASH                       &kp ASTERISK     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp UNDERSCORE
&kp PERCENT      &kp GRAVE      &kp CARET                   &kp AT_SIGN                     &kp QUESTION                              &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS
                                                            &trans                          &kp ESC                                   &trans           &trans
            >;
        };

        left_layer {
            bindings = <
&trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans           &ht LA(F1) F1  &ht LA(F2) F2   &ht LA(F3) F3   &ht LA(F4) F4  &ht LA(F5) F5
&kp LC(N)  &kp LC(H)  &kp LC(J)  &kp LC(K)  &kp LC(PRCNT)    &kp LA(TAB)    &ht LA(H) LEFT  &ht LA(J) DOWN  &ht LA(K) UP   &ht LA(L) RIGHT
&trans     &trans     &trans     &trans     &trans           &kp LA(SPACE)  &kp LA(ENTER)   &kp LG(ENTER)   &kp LA(S)      &kp LA(BACKSPACE)
                                 &trans     &trans           &kp ESC        &trans
            >;
        };

        tri_layer {
            bindings = <
&kp K_PLAY_PAUSE  &kp K_NEXT    &kp K_VOL_UP    &kp K_VOLUME_DOWN  &kp K_MUTE      &ht LA(PRINTSCREEN) PRINTSCREEN  &trans     &trans           &trans         &trans
&kp LCMD          &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL          &kp C_REPEAT    &kp C_REPEAT                     &kp RCTRL  &kp RIGHT_SHIFT  &kp RIGHT_ALT  &kp RCMD
&trans            &trans        &trans          &trans             &trans          &trans                           &trans     &trans           &trans         &trans
                                                &trans             &trans          &trans                           &trans
            >;
        };
    };
};
